In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np


df = pd.read_csv("Preprocessed ICU data.csv")
df.head()

,RecordID,Age,Gender,Height,ICUType2,ICUType3,ICUType4,Mean_Weight.x,Mean_GCS.x,Mean_HR.x,...,Max_ALT.y,Max_AST.y,Max_Bilirubin.y,Max_Lactate.y,Max_Cholesterol.y,Max_TroponinI.y,Max_TroponinT.y,SAPS.I,SOFA,In.hospital_death
0,132543,68,1.0,180.300000,0,1,0,84.600000,14.888889,72.971429,...,12.000000,15.000000,0.200000,2.395461,156.842105,7.132683,1.114629,7,1,0
1,132545,88,0.0,169.787227,0,1,0,83.054136,15.000000,79.520000,...,189.169186,260.323666,1.979557,2.395461,156.842105,7.132683,1.114629,17,2,0
2,132547,64,1.0,180.300000,0,0,0,114.000000,8.333333,81.318182,...,60.000000,162.000000,0.400000,2.395461,212.000000,1.300000,1.114629,14,11,0
3,132551,78,0.0,162.600000,0,1,0,48.400000,13.250000,78.125000,...,46.000000,82.000000,0.300000,2.300000,156.842105,3.500000,1.114629,19,8,1
4,132554,64,0.0,169.787227,0,1,0,60.700000,15.000000,129.363636,...,189.169186,260.323666,1.979557,2.395461,156.842105,7.132683,1.114629,11,0,0

In [3]:
df_x  = df.filter(regex="x$", axis = 1)


df_x

,Mean_Weight.x,Mean_GCS.x,Mean_HR.x,Mean_NIDiasABP.x,Mean_NIMAP.x,Mean_NISysABP.x,Mean_RespRate.x,Mean_Temp.x,Mean_Urine.x,Mean_BUN.x,...,Max_SaO2.x,Max_Albumax.x,Max_ALP.x,Max_ALT.x,Max_AST.x,Max_Bilirubin.x,Max_Lactate.x,Max_Cholesterol.x,Max_TroponinI.x,Max_TroponinT.x
0,84.600000,14.888889,72.971429,65.970588,84.951471,122.911765,15.818182,36.214286,466.666667,21.5,...,97.487151,4.400000,105.00000,12.000000,15.000000,0.200000,2.984208,156.684211,8.147317,1.271183
1,83.054136,15.000000,79.520000,49.333333,78.748095,137.571429,19.720000,37.000000,59.800000,45.0,...,97.487151,3.300000,107.83955,193.006395,294.350348,1.980606,2.984208,156.684211,8.147317,1.271183
2,114.000000,8.333333,81.318182,70.500000,81.985000,105.000000,19.666415,37.100000,237.500000,17.0,...,97.000000,3.009175,101.00000,60.000000,162.000000,0.400000,2.984208,212.000000,1.300000,1.271183
3,48.400000,13.250000,78.125000,28.000000,54.499545,107.500000,19.666415,37.133333,51.210526,69.0,...,97.000000,1.900000,47.00000,46.000000,82.000000,0.300000,2.000000,156.684211,3.500000,1.271183
4,60.700000,15.000000,129.363636,65.454545,85.605455,125.909091,35.409091,37.040000,233.333333,21.0,...,97.487151,3.009175,107.83955,193.006395,294.350348,1.980606,2.984208,156.684211,8.147317,1.271183
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1469,64.000000,11.214286,86.260870,60.041667,82.788333,128.291667,19.565217,37.000000,116.470588,12.5,...,97.487151,3.600000,107.83955,193.006395,294.350348,1.980606,2.984208,156.684211,8.147317,1.271183
1470,53.000000,13.000000,85.517241,40.576271,67.541695,121.474576,19.666415,37.166667,67.142857,57.0,...,97.487151,2.600000,192.00000,35.000000,37.000000,1.100000,2.984208,156.684211,8.147317,1.271183
1471,75.000000,9.909091,91.147059,57.213827,75.982764,116.454270,19.666415,36.812500,120.318182,9.5,...,98.000000,3.009175,107.83955,193.006395,294.350348,1.980606,2.984208,156.684211,8.147317,1.271183
1472,87.000000,10.833333,101.083333,60.400000,75.733000,106.400000,19.666415,36.642857,57.823529,14.0,...,97.487151,3.009175,107.83955,193.006395,294.350348,1.980606,3.000000,156.684211,8.147317,1.271183
1473,87.400000,6.400000,91.785714,57.213827,75.982764,116.454270,19.666415,38.814286,5.333333,81.0,...,97.487151,3.100000,176.00000,2364.000000,2038.000000,0.900000,1.900000,156.684211,8.147317,1.271183

In [4]:
keep_vars = ["GCS", "HR", "Platelets", "Urine", "WBC", "BUN", "Temp", "Glucose", "PaO2", "PaCO2","SysABP","HCO3","Weight", "Lactate"]

keep_vars_lower = [v.lower() for v in keep_vars]

filtered_cols = [
    col for col in df.columns
    if any(k in col.lower() for k in keep_vars_lower)
]

df_filtered = df[filtered_cols]  # keep target too

df_filtered

,Mean_Weight.x,Mean_GCS.x,Mean_HR.x,Mean_NISysABP.x,Mean_Temp.x,Mean_Urine.x,Mean_BUN.x,Mean_Glucose.x,Mean_HCO3.x,Mean_Platelets.x,...,Max_Urine.y,Max_BUN.y,Max_Glucose.y,Max_HCO3.y,Max_Platelets.y,Max_WBC.y,Max_PaCO2.y,Max_PaO2.y,Max_SysABP.y,Max_Lactate.y
0,84.600000,14.888889,72.971429,122.911765,36.214286,466.666667,21.5,117.500000,27.500000,353.000000,...,675.0,10.0,117.0,28.0,284.0,7.9,43.309957,163.109494,148.461593,2.395461
1,83.054136,15.000000,79.520000,137.571429,37.000000,59.800000,45.0,113.000000,18.000000,109.000000,...,220.0,25.0,92.0,20.0,97.0,4.8,43.309957,163.109494,148.461593,2.395461
2,114.000000,8.333333,81.318182,105.000000,37.100000,237.500000,17.0,230.500000,19.000000,247.500000,...,200.0,17.0,153.0,21.0,175.0,13.3,36.000000,179.000000,141.000000,2.395461
3,48.400000,13.250000,78.125000,107.500000,37.133333,51.210526,69.0,131.333333,14.333333,93.500000,...,60.0,58.0,121.0,13.0,102.0,23.5,31.000000,131.000000,141.000000,2.300000
4,60.700000,15.000000,129.363636,125.909091,37.040000,233.333333,21.0,113.000000,21.000000,696.000000,...,300.0,23.0,112.0,25.0,696.0,15.2,43.309957,163.109494,148.461593,2.395461
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1469,64.000000,11.214286,86.260870,128.291667,37.000000,116.470588,12.5,97.000000,21.500000,289.000000,...,500.0,14.0,96.0,23.0,318.0,11.4,43.309957,163.109494,148.461593,2.395461
1470,53.000000,13.000000,85.517241,121.474576,37.166667,67.142857,57.0,106.000000,18.000000,168.000000,...,200.0,69.0,102.0,20.0,160.0,11.0,43.309957,163.109494,148.461593,2.395461
1471,75.000000,9.909091,91.147059,116.454270,36.812500,120.318182,9.5,125.000000,25.000000,121.000000,...,640.0,15.0,111.0,27.0,205.0,8.0,39.000000,118.000000,149.000000,2.395461
1472,87.000000,10.833333,101.083333,106.400000,36.642857,57.823529,14.0,128.500000,21.000000,198.000000,...,100.0,18.0,106.0,22.0,218.0,17.5,42.000000,123.000000,154.000000,1.100000
1473,87.400000,6.400000,91.785714,116.454270,38.814286,5.333333,81.0,133.333333,28.666667,329.666667,...,40.0,114.0,118.0,21.0,314.0,11.5,44.000000,190.000000,187.000000,1.900000

In [5]:
filtered_cols_x = [
    col for col in df_x.columns
    if any(k in col.lower() for k in keep_vars_lower) 
]


df_filtered_x = df_x[filtered_cols_x]  # keep target too

df_filtered_x

,Mean_Weight.x,Mean_GCS.x,Mean_HR.x,Mean_NISysABP.x,Mean_Temp.x,Mean_Urine.x,Mean_BUN.x,Mean_Glucose.x,Mean_HCO3.x,Mean_Platelets.x,...,Max_Urine.x,Max_BUN.x,Max_Glucose.x,Max_HCO3.x,Max_Platelets.x,Max_WBC.x,Max_PaCO2.x,Max_PaO2.x,Max_SysABP.x,Max_Lactate.x
0,84.600000,14.888889,72.971429,122.911765,36.214286,466.666667,21.5,117.500000,27.500000,353.000000,...,700.0,23.0,129.0,28.0,391.0,11.5,46.182269,242.519682,151.484101,2.984208
1,83.054136,15.000000,79.520000,137.571429,37.000000,59.800000,45.0,113.000000,18.000000,109.000000,...,150.0,45.0,113.0,18.0,109.0,3.8,46.182269,242.519682,151.484101,2.984208
2,114.000000,8.333333,81.318182,105.000000,37.100000,237.500000,17.0,230.500000,19.000000,247.500000,...,1200.0,19.0,264.0,19.0,276.0,24.0,45.000000,101.000000,152.000000,2.984208
3,48.400000,13.250000,78.125000,107.500000,37.133333,51.210526,69.0,131.333333,14.333333,93.500000,...,130.0,81.0,139.0,18.0,96.0,20.4,42.000000,334.000000,172.000000,2.000000
4,60.700000,15.000000,129.363636,125.909091,37.040000,233.333333,21.0,113.000000,21.000000,696.000000,...,300.0,21.0,113.0,21.0,696.0,15.2,46.182269,242.519682,151.484101,2.984208
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1469,64.000000,11.214286,86.260870,128.291667,37.000000,116.470588,12.5,97.000000,21.500000,289.000000,...,600.0,13.0,100.0,22.0,289.0,8.9,46.182269,242.519682,151.484101,2.984208
1470,53.000000,13.000000,85.517241,121.474576,37.166667,67.142857,57.0,106.000000,18.000000,168.000000,...,120.0,57.0,106.0,18.0,168.0,20.8,46.182269,242.519682,151.484101,2.984208
1471,75.000000,9.909091,91.147059,116.454270,36.812500,120.318182,9.5,125.000000,25.000000,121.000000,...,400.0,10.0,128.0,25.0,135.0,8.9,50.000000,304.000000,143.000000,2.984208
1472,87.000000,10.833333,101.083333,106.400000,36.642857,57.823529,14.0,128.500000,21.000000,198.000000,...,150.0,14.0,136.0,21.0,198.0,11.5,43.000000,205.000000,138.000000,3.000000
1473,87.400000,6.400000,91.785714,116.454270,38.814286,5.333333,81.0,133.333333,28.666667,329.666667,...,12.0,98.0,140.0,31.0,354.0,14.7,51.000000,314.000000,203.000000,1.900000

In [6]:
df_mean = pd.DataFrame(index=df_filtered.index)  # start new df

for col in df_filtered.columns:
    if col.startswith("Mean_") and col.endswith(".x"):
        base_name = col[:-2]  # remove ".x"
        col_x = base_name + ".x"
        col_y = base_name + ".y"

        if col_y in df_filtered.columns:
            # Mean across x and y
            df_mean[base_name + "_mean_xy"] = (df_filtered[col_x] + df_filtered[col_y]) / 2.0

            # Difference (y - x)
            df_mean[base_name + "_diff"] = df_filtered[col_y] - df_filtered[col_x]



df_mean.shape

(1474, 30)

In [7]:
df_combined = pd.concat([df_filtered, df_mean], axis=1)

df_combined

,Mean_Weight.x,Mean_GCS.x,Mean_HR.x,Mean_NISysABP.x,Mean_Temp.x,Mean_Urine.x,Mean_BUN.x,Mean_Glucose.x,Mean_HCO3.x,Mean_Platelets.x,...,Mean_WBC_mean_xy,Mean_WBC_diff,Mean_PaCO2_mean_xy,Mean_PaCO2_diff,Mean_PaO2_mean_xy,Mean_PaO2_diff,Mean_SysABP_mean_xy,Mean_SysABP_diff,Mean_Lactate_mean_xy,Mean_Lactate_diff
0,84.600000,14.888889,72.971429,122.911765,36.214286,466.666667,21.5,117.500000,27.500000,353.000000,...,9.025000,-2.250000,40.267430,-0.468259,142.896559,-30.103035,118.720769,3.050009,2.250612,-0.326386
1,83.054136,15.000000,79.520000,137.571429,37.000000,59.800000,45.0,113.000000,18.000000,109.000000,...,4.300000,1.000000,40.267430,-0.468259,142.896559,-30.103035,118.720769,3.050009,2.250612,-0.326386
2,114.000000,8.333333,81.318182,105.000000,37.100000,237.500000,17.0,230.500000,19.000000,247.500000,...,16.100000,-6.200000,35.541667,-5.583333,107.125000,40.250000,114.450000,22.300000,2.250612,-0.326386
3,48.400000,13.250000,78.125000,107.500000,37.133333,51.210526,69.0,131.333333,14.333333,93.500000,...,20.875000,5.250000,29.777778,-7.555556,126.638889,-37.611111,125.459956,-5.402670,1.775000,0.550000
4,60.700000,15.000000,129.363636,125.909091,37.040000,233.333333,21.0,113.000000,21.000000,696.000000,...,15.200000,0.000000,40.267430,-0.468259,142.896559,-30.103035,118.720769,3.050009,2.250612,-0.326386
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1469,64.000000,11.214286,86.260870,128.291667,37.000000,116.470588,12.5,97.000000,21.500000,289.000000,...,10.150000,2.500000,40.267430,-0.468259,142.896559,-30.103035,118.720769,3.050009,2.250612,-0.326386
1470,53.000000,13.000000,85.517241,121.474576,37.166667,67.142857,57.0,106.000000,18.000000,168.000000,...,15.900000,-9.800000,40.267430,-0.468259,142.896559,-30.103035,118.720769,3.050009,2.250612,-0.326386
1471,75.000000,9.909091,91.147059,116.454270,36.812500,120.318182,9.5,125.000000,25.000000,121.000000,...,7.975000,0.050000,40.000000,-4.333333,138.250000,-63.500000,117.888480,7.306373,2.250612,-0.326386
1472,87.000000,10.833333,101.083333,106.400000,36.642857,57.823529,14.0,128.500000,21.000000,198.000000,...,14.500000,6.000000,40.600000,0.800000,128.750000,-58.500000,116.625000,15.750000,1.787500,-1.375000
1473,87.400000,6.400000,91.785714,116.454270,38.814286,5.333333,81.0,133.333333,28.666667,329.666667,...,12.516667,-2.033333,44.125000,-0.250000,181.000000,18.000000,166.848214,6.053571,1.900000,0.000000

In [8]:
df_combined.info

<bound method DataFrame.info of       Mean_Weight.x  Mean_GCS.x   Mean_HR.x  Mean_NISysABP.x  Mean_Temp.x  \
0         84.600000   14.888889   72.971429       122.911765    36.214286
1         83.054136   15.000000   79.520000       137.571429    37.000000
2        114.000000    8.333333   81.318182       105.000000    37.100000
3         48.400000   13.250000   78.125000       107.500000    37.133333
4         60.700000   15.000000  129.363636       125.909091    37.040000
...             ...         ...         ...              ...          ...
1469      64.000000   11.214286   86.260870       128.291667    37.000000
1470      53.000000   13.000000   85.517241       121.474576    37.166667
1471      75.000000    9.909091   91.147059       116.454270    36.812500
1472      87.000000   10.833333  101.083333       106.400000    36.642857
1473      87.400000    6.400000   91.785714       116.454270    38.814286

      Mean_Urine.x  Mean_BUN.x  Mean_Glucose.x  Mean_HCO3.x  Mean_Platelets.x  \
0       466.666667        21.5      117.500000    27.500000        353.000000
1        59.800000        45.0      113.000000    18.000000        109.000000
2       237.500000        17.0      230.500000    19.000000        247.500000
3        51.210526        69.0      131.333333    14.333333         93.500000
4       233.333333        21.0      113.000000    21.000000        696.000000
...            ...         ...             ...          ...               ...
1469    116.470588        12.5       97.000000    21.500000        289.000000
1470     67.142857        57.0      106.000000    18.000000        168.000000
1471    120.318182         9.5      125.000000    25.000000        121.000000
1472     57.823529        14.0      128.500000    21.000000        198.000000
1473      5.333333        81.0      133.333333    28.666667        329.666667

      ...  Mean_WBC_mean_xy  Mean_WBC_diff  Mean_PaCO2_mean_xy  \
0     ...          9.025000      -2.250000           40.267430
1     ...          4.300000       1.000000           40.267430
2     ...         16.100000      -6.200000           35.541667
3     ...         20.875000       5.250000           29.777778
4     ...         15.200000       0.000000           40.267430
...   ...               ...            ...                 ...
1469  ...         10.150000       2.500000           40.267430
1470  ...         15.900000      -9.800000           40.267430
1471  ...          7.975000       0.050000           40.000000
1472  ...         14.500000       6.000000           40.600000
1473  ...         12.516667      -2.033333           44.125000

      Mean_PaCO2_diff  Mean_PaO2_mean_xy  Mean_PaO2_diff  Mean_SysABP_mean_xy  \
0           -0.468259         142.896559      -30.103035           118.720769
1           -0.468259         142.896559      -30.103035           118.720769
2           -5.583333         107.125000       40.250000           114.450000
3           -7.555556         126.638889      -37.611111           125.459956
4           -0.468259         142.896559      -30.103035           118.720769
...               ...                ...             ...                  ...
1469        -0.468259         142.896559      -30.103035           118.720769
1470        -0.468259         142.896559      -30.103035           118.720769
1471        -4.333333         138.250000      -63.500000           117.888480
1472         0.800000         128.750000      -58.500000           116.625000
1473        -0.250000         181.000000       18.000000           166.848214

      Mean_SysABP_diff  Mean_Lactate_mean_xy  Mean_Lactate_diff
0             3.050009              2.250612          -0.326386
1             3.050009              2.250612          -0.326386
2            22.300000              2.250612          -0.326386
3            -5.402670              1.775000           0.550000
4             3.050009              2.250612          -0.326386
...                ...                   ...                ...
1469          3.050009              2.250612          -0.326386
1470          3.050009              2.250612          -0.326386
1471          7.306373              2.250612          -0.326386
1472         15.750000              1.787500          -1.375000
1473          6.053571              1.900000           0.000000

[1474 rows x 120 columns]>

In [9]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report,confusion_matrix

In [25]:
X = df_combined[[
    'Mean_GCS_mean_xy',
    'Max_GCS.y',
    'Mean_GCS.y',
    'Min_GCS.y',
    'Mean_NISysABP.y',
    'Mean_GCS_diff',
    'Mean_GCS.x',
    'Min_HR.x',
    'Mean_PaO2_mean_xy',
    'Mean_PaO2.x',
    'Mean_PaO2.y',
    'Mean_PaO2_diff',
    'Mean_HR_mean_xy',
    'Min_NISysABP.y',
    'Mean_Temp.y',
    'Mean_Temp_diff',
    'Max_PaO2.y',
    'Mean_HR.x',
    'Max_NISysABP.y',
    'Min_Temp.y'
]]
y = df["In.hospital_death"]
X_train, X_test, y_train, y_test= train_test_split(X, y, test_size= 0.8, random_state = 42)

In [26]:
X_train.shape, X_test.shape

((294, 20), (1180, 20))

In [27]:
X_train.dtypes

Mean_GCS_mean_xy     float64
Max_GCS.y            float64
Mean_GCS.y           float64
Min_GCS.y            float64
Mean_NISysABP.y      float64
Mean_GCS_diff        float64
Mean_GCS.x           float64
Min_HR.x             float64
Mean_PaO2_mean_xy    float64
Mean_PaO2.x          float64
Mean_PaO2.y          float64
Mean_PaO2_diff       float64
Mean_HR_mean_xy      float64
Min_NISysABP.y       float64
Mean_Temp.y          float64
Mean_Temp_diff       float64
Max_PaO2.y           float64
Mean_HR.x            float64
Max_NISysABP.y       float64
Min_Temp.y           float64
dtype: object

In [28]:
X_test.head()

,Mean_GCS_mean_xy,Max_GCS.y,Mean_GCS.y,Min_GCS.y,Mean_NISysABP.y,Mean_GCS_diff,Mean_GCS.x,Min_HR.x,Mean_PaO2_mean_xy,Mean_PaO2.x,Mean_PaO2.y,Mean_PaO2_diff,Mean_HR_mean_xy,Min_NISysABP.y,Mean_Temp.y,Mean_Temp_diff,Max_PaO2.y,Mean_HR.x,Max_NISysABP.y,Min_Temp.y
852,11.636098,13.010163,12.154492,11.111535,117.843210,1.036788,11.117704,72.080925,142.896559,157.948077,127.845042,-30.103035,87.029525,98.276839,37.037261,0.139240,163.109494,87.243231,137.308045,36.242505
184,7.232143,11.000000,9.714286,8.000000,124.125000,4.964286,4.750000,93.000000,268.000000,286.500000,249.500000,-37.000000,102.733974,85.000000,37.600000,0.187500,390.000000,113.884615,150.000000,37.200000
1261,13.568182,14.000000,12.636364,12.000000,114.481481,-1.863636,14.500000,87.000000,142.896559,157.948077,127.845042,-30.103035,113.471133,99.000000,36.550000,-1.350000,163.109494,124.794118,146.000000,36.100000
67,9.785714,10.000000,9.571429,9.000000,98.000000,-0.428571,10.000000,91.000000,193.750000,220.166667,167.333333,-52.833333,107.675408,86.000000,37.042857,0.326190,184.000000,103.696970,113.000000,36.100000
220,14.666667,15.000000,14.333333,14.000000,117.843210,-0.666667,15.000000,65.000000,142.896559,157.948077,127.845042,-30.103035,72.931724,98.276839,36.936842,0.077583,163.109494,73.103448,137.308045,36.800000

In [29]:
rfc = RandomForestClassifier(n_estimators = 200, random_state = 42, oob_score = True)

In [30]:
rfc.fit(X_train,y_train)

y_pred = rfc.predict(X_test)

print(format(accuracy_score(y_test, y_pred)))

0.6720338983050848

In [31]:
rfc.oob_score_

0.7074829931972789

In [32]:
cm = confusion_matrix(y_test,y_pred)

In [33]:
print(cm)

[[598 138]
 [249 195]]

In [34]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.71      0.81      0.76       736
           1       0.59      0.44      0.50       444

    accuracy                           0.67      1180
   macro avg       0.65      0.63      0.63      1180
weighted avg       0.66      0.67      0.66      1180

In [35]:
importances = rfc.feature_importances_
feat_importances= pd.Series(importances, index = X.columns)
feat_importances = feat_importances.sort_values(ascending = False)

In [36]:
feat_importances

Mean_GCS.y           0.058612
Mean_GCS_mean_xy     0.058415
Mean_Temp_diff       0.058015
Mean_NISysABP.y      0.057151
Min_NISysABP.y       0.056137
Min_GCS.y            0.054875
Mean_HR_mean_xy      0.052910
Mean_GCS_diff        0.052002
Mean_PaO2_mean_xy    0.051826
Mean_Temp.y          0.050530
Min_HR.x             0.048752
Min_Temp.y           0.047740
Max_PaO2.y           0.047422
Mean_PaO2.x          0.046652
Mean_PaO2.y          0.046262
Max_NISysABP.y       0.045183
Mean_PaO2_diff       0.043370
Mean_GCS.x           0.042624
Max_GCS.y            0.041594
Mean_HR.x            0.039929
dtype: float64

In [37]:
ff = pd.DataFrame(feat_importances)

In [38]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None) 
pd.set_option('display.max_rows', None)

In [39]:
ff

                          0
Mean_GCS.y         0.058612
Mean_GCS_mean_xy   0.058415
Mean_Temp_diff     0.058015
Mean_NISysABP.y    0.057151
Min_NISysABP.y     0.056137
Min_GCS.y          0.054875
Mean_HR_mean_xy    0.052910
Mean_GCS_diff      0.052002
Mean_PaO2_mean_xy  0.051826
Mean_Temp.y        0.050530
Min_HR.x           0.048752
Min_Temp.y         0.047740
Max_PaO2.y         0.047422
Mean_PaO2.x        0.046652
Mean_PaO2.y        0.046262
Max_NISysABP.y     0.045183
Mean_PaO2_diff     0.043370
Mean_GCS.x         0.042624
Max_GCS.y          0.041594
Mean_HR.x          0.039929